<link rel="stylesheet" href="{{ "/css/primeflex.css" | relURL }}" />
<link rel="stylesheet" href="{{ "/css/features.css" | relURL }}" />
<link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">


<link rel="apple-touch-icon" sizes="57x57" href="{{ "img/icon/apple-touch-icon-57x57.png" | relURL }}">
<link rel="apple-touch-icon" sizes="60x60" href="{{ "img/icon/apple-touch-icon-60x60.png" | relURL }}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ "img/icon/apple-touch-icon-72x72.png" | relURL }}">
<link rel="apple-touch-icon" sizes="76x76" href="{{ "img/icon/apple-touch-icon-76x76.png" | relURL }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ "img/icon/apple-touch-icon-114x114.png" | relURL }}">
<link rel="apple-touch-icon" sizes="120x120" href="{{ "img/icon/apple-touch-icon-120x120.png" | relURL }}">
<link rel="apple-touch-icon" sizes="144x144" href="{{ "img/icon/apple-touch-icon-144x144.png" | relURL }}">
<link rel="apple-touch-icon" sizes="152x152" href="{{ "img/icon/apple-touch-icon-152x152.png" | relURL }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ "img/icon/apple-touch-icon-180x180.png" | relURL }}">
<link rel="icon" type="image/png" href="{{ "img/icon/favicon-32x32.png" | relURL }}" sizes="32x32">
<link rel="icon" type="image/png" href="{{ "img/icon/android-chrome-192x192.png" | relURL }}" sizes="192x192">
<link rel="icon" type="image/png" href="{{ "img/icon/favicon-96x96.png" | relURL }}" sizes="96x96">
<link rel="icon" type="image/png" href="{{ "img/icon/favicon-16x16.png" | relURL }}" sizes="16x16">
<link rel="manifest" href="{{ "img/icon/manifest.json" | relURL }}">
<link rel="mask-icon" href="{{ "img/icon/safari-pinned-tab.svg" | relURL }}" color="#5bbad5">
<link rel="shortcut icon" href="{{ "img/icon/favicon.ico" | relURL }}">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="{{ "img/icon/mstile-144x144.png" | relURL }}">
<meta name="msapplication-config" content="{{ "img/icon/browserconfig.xml" | relURL }}">
<meta name="theme-color" content="#ffffff">
