{{ partial "header.html" . }}

<main>

  <div class="row">
    <div class="col-xs-12">
      {{ .Content }}
    </div>
  </div>

  <h1>{{ i18n "publist" }}</h1>

  <div class="row top-xs">
    <div class="col-xs-12 col-md-9">
      <div>
        {{ $paginator := .Paginate (where .Pages "Type" "post") }}
        {{ template "_internal/pagination.html" . }}
        {{ range $index, $element := $paginator.Pages }}
        <h2><a href="{{ $element.Permalink }}">{{ $element.Title }}</a></h2>
        <div class="row middle-xs">
          <div class="col-xs-5">
            <p><img src="{{ $element.Params.header_image | absURL }}" style="width:100%;" /></p>
          </div>

          <div class="col-xs-7">

            {{ if ( (isset $element.Params "manualsummary")) }}
              {{ $element.Params.manualsummary | markdownify }}
            {{ else }}
              {{ $element.Summary }}
            {{ end }}

            <p><small><i>{{ .Date.Format "2006/01/02" }}</i></small></p>

            <p><a href="{{ $element.Permalink }}" class="button">{{ i18n "readthis" }}</a></p>

          </div>

        </div>
        {{ end }}
      </div>
    </div>
    <div class="col-xs-12 col-md-3 post-list-extra">
    {{ partial "sidebar.html" . }}
    </div>
  </div>

</main>

{{ partial "footer.html" . }}

