{{ partial "header.html" . }}

<main>

  <h1 class="page-title">{{ .Title }}</h1>

  <!-- <div class="row">
    <div class="col-xs-12 col-md-12">
      {{ .Content }}
    </div>
  </div> -->

  <div class="row top-xs">
    <div class="col-xs-12 col-sm-10">

  <h1>{{ i18n "applist" }}</h1>
  <div class="row top-xs">
    {{ $paginator := .Paginate (where .Pages "Type" "apps") }}
    {{ template "_internal/pagination.html" . }}
    {{ range $paginator.Pages }}

    <div class="col-xs-12 col-sm-6">
      <div class="boxlike boxlike-gray boxlike-min500">
        <div class="row center-xs">
        <div class="col-xs-4"  style="display: flex;  align-items: center;">
            <img src="{{ .Params.header_image }}">
           </div>

        <div class="col-xs-8">
          <h2><a href="{{ .Permalink }}">{{ .Title }}</a>
            <!-- <i class="{{ .Params.header_image }}"></i> -->
            </h2>
              <p> {{ .Summary }} </p>
              <p><a href="{{ .Permalink }}" class="button">{{ i18n "more" }}</a></p>
        </div>
      </div>
    </div>
    </div>
    {{ end }}
  </div>
</div>
  <div class="col-xs-12 col-sm-2  post-list-extra">
 <!-- <div class="col-xs-12 col-md-3 post-list-extra"> -->
    {{ partial "sidebarapps.html" . }}
    </div>
  </div>

</main>

{{ partial "footer.html" . }}

