/* Colors specifications */
:root{
  --regular-font-family: "Roboto";
  --light-font-family: "Roboto Light";
  --thin-font-family: "Roboto Thin";
  --main-text-color: #292930;
  --main-text-color-rgba: 41, 41, 48;
  --secondary-text-color: #777777;
  --background-color-page: white;
  --brownish-grey: #777777;
  --charcoal-grey: #292930;
  --bright-blue: #0066ff;
  --cerulean: #039ed2;
  --seafoam-blue: #60ccb7;
  --bubblegum-pink: #fd79da;
  --warm-pink: #fd5072;
  --pastel-orange: #fd994e;
  --pastel-purple: #c4a5fd
}

/* old */
body {
  line-height: 22px;
  letter-spacing: 0.1pt;
  font-size: 16px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 70px;
  text-align: justify;
  background-color: var(--background-color-page);
  font-family: var(--regular-font-family);
  color: var(--main-text-color);
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
}


/* Headers */
h1 {
  font-family: var(--regular-font-family);
  font-size: 34px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: left;
  color: var(--main-text-color);
}

h2 {
  font-family: var(--regular-font-family);
  font-size: 27px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: var(--main-text-color);
}

h3, p {
  font-family: var(--regular-font-family);
  font-size: 22px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: var(--main-text-color);
}

h4 {
  font-family: var(--regular-font-family);
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: var(--secondary-text-color);
}

code {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 85%;
}


/* Anchors */
a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
  transition-property: background, color;
  transition-duration: 1s;
}

a:link {
  color: var(--cerulean);
}

a:visited {
  color: var(--cerulean);
}

a:focus {
  outline: none;
  color: var(--cerulean);
  text-decoration: none;
}

a:hover {
  outline: none;
  color: var(--seafoam-blue);
  text-decoration: none;
}

/* Code in text */
code {
  color: white;
  background-color: var(--seafoam-blue);
}

/* Code in chunks */
pre.r {
    padding: 0.8rem;
    margin-top: 0;
    margin-bottom: 1rem;
    word-wrap: normal;
    border: solid 1px rgba(var(--main-text-color-rgba), 0.9);
    background-color: rgba(var(--main-text-color-rgba), 0.9)
}

pre .sourceCode { /* normal code */
    color: var(--pastel-purple);
}

pre .sourceCode .op{ /* operators ex pipe */
    color: var(--brownish-grey);
}

pre .sourceCode .kw{ /* functions */
    color: var(--pastel-orange);
}



/*a {
    color: #1d8293;
    text-decoration: none;
    font-weight: bold;
}*/


/* Body */
/*body {
  background-color: var(--background-color-page);
  font-family: var(--light-font-family);
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: justify;
  color: var(--main-text-color);
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 70px;
} */


/* Title */
/*h1 .title {
  font-family: var(--regular-font-family);
  font-size: 40px;
  display: block;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  color: var(--main-text-color);
}


h1 {
  font-family: var(--regular-font-family);
  font-size: 40px;
  display: block;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  color: var(--main-text-color);
} */





/*h1, h2, h3, h4, h5, h6 {
    font-family: var(--regular-font-family);
  color: var(--main-text-color);
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: bold;
    text-align: left;
    line-height: 1.5;
    letter-spacing: .05rem;
}*/