.sidebar h3 {
  margin-bottom: 1rem;
  margin-top: 3rem;
  color:#0f4c58;
}

/* header and footer areas */
.article-meta a {
  text-decoration: none;
  background: #eee;
  border-radius: 5px;
}
.article-meta, footer { text-align: center; }
.title {
  font-size: 1.1em;
}

.article-meta h1 {
  text-align:center;
  color: var(--cerulean);
}

footer a { text-decoration: none; }
hr {
  border-style: dashed;
  color: #ddd;
}

/* misc elements */
img, iframe, video { max-width: 100%; }
main { hyphens: auto; }
blockquote {
  background: #fdfDfd;
  border-left: 5px solid #1d8293;
  padding: 3px 1em 3px;
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 10px;
  margin-inline-end: 10px;
}

main {
  padding: 16px;
  margin-top: 20px;
  max-width:1200px;
  margin-left: auto;
  margin-right: auto;

}

.figure {
  text-align:center;
}

.figure .caption {
  margin-right: 10px;
  color: #999;
}

footer {
    width: 100%;
    padding-top: .5rem;
    text-align: center;
    font-size: 0.7rem;
    background-color: #eee;
    z-index:2000;
}

.navhelper {
  position: fixed;
  bottom: 0;
  padding: 5px;
  border-radius:5px 5px 0 0;
  right: 30px;
  z-index:2000;
  background-color: #1d8293;
}
.navhelper a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

a.button {
  border: 2px solid #0f4c58;
  border-radius: 5px;
  color: #0f4c58;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.boxlike {
  margin:10px 4px;
  padding:5pt;
  border-radius: 25px;
  box-shadow: 3px 3px 3px #eee;
  text-align: justify;
}

.boxlike-gray {
  border: 1px solid #ccc;
  border-radius: 10px;
}


@media (min-width: 1025px){
  footer {
      position: fixed;
      bottom: 0;
  }
  .page-title {
    display: none;
  }

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .page-title {
    display: block;
  }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

.page-title {
    display: block;
  }
}

