<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link rel="stylesheet" href="{{ "/css/flexboxgrid.min.css" | relURL }}" />
<link rel="stylesheet" href="{{ "/css/tag-symbol.css" | relURL }}" />
<link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />
<!--<link rel="stylesheet" href="{{ "/css/custom.css" | relURL }}" /> -->
<link rel="stylesheet" href="{{ "/css/timeline.css" | relURL }}" />
<link rel="stylesheet" href="{{ "/css/contact.css" | relURL }}" />
<link rel="stylesheet" href="{{ "/css/fonts.css" | relURL }}" />
<link rel="stylesheet" href="{{ "/css/topnav.css" | relURL }}" />
<link rel="stylesheet" href="{{ "/css/jarallax.css" | relURL }}" />
<link rel="stylesheet" href="{{ "/css/owl.carousel.min.css" | relURL }}" />
<link rel="stylesheet" href="{{ "/css/owl.theme.default.min.css" | relURL }}" />

<link rel="stylesheet" href="{{"css/agate.css" | absURL}}" rel="stylesheet" id="theme-stylesheet">
<script src="{{ "js/highlight.pack.js" | absURL }}"></script>
<script>hljs.initHighlightingOnLoad();</script>
<style>
.owl-carousel .owl-stage { display: flex; align-items: center; }
</style>