{{ partial "header.html" . }}


<main>

<div class="row">
  <div class="col-xs-offset-2 col-md-8">
    {{ .Content }}
  </div>
</div>

<br>
<br>
<br>


<!-- <div class="container"> -->
  <!-- <h4>Timeline Style : Demo-9</h4> -->
  <div class="row">
      <div class="col-md-12">
          <div class="main-timeline9">
              <div class="timeline">
                  <div class="timeline-content">
                      <div class="circle"><span><i class="fas fa-flask"></i></span></div>
                      <div class="content">
                          <span class="year">Le datalab</span>
                          <h4 class="title">Qui sommes nous ?</h4>
                          <p class="description">
                            Le datalab est une plateforme d’analyse et de valorisation des données, à destination des agents de Bordeaux Métropole et des communes 
                          </p>
                          <div class="icon"><span></span></div>
                      </div>
                  </div>
              </div>
              <div class="timeline">
                  <div class="timeline-content">
                      <div class="circle"><span><i class="fas fa-chart-line"></i></span></div>
                      <div class="content">
                          <span class="year">Dataviz / Data Science</span>
                          <h4 class="title">Les applis</h4>
                          <p class="description">
                            Nous réalisons des applications et tableaux de bord de consultation / visualisation de résultats 
                          </p>
                          <div class="icon"><span></span></div>
                      </div>
                  </div>
              </div>
              <div class="timeline">
                  <div class="timeline-content">
                      <div class="circle"><span><i class="fas fa-pen-fancy"></i></span></div>
                      <div class="content">
                          <span class="year">Data storytelling</span>
                          <h4 class="title">Le blog</h4>
                          <p class="description">
                            Nous publions des articles d'analyses de données, qu'elles proviennent d'open data, de données métiers ou de sources externes
                          </p>
                          <div class="icon"><span></span></div>
                      </div>
                  </div>
              </div>
              <div class="timeline">
                  <div class="timeline-content">
                      <div class="circle"><span><i class="fas fa-toolbox"></i></span></div>
                      <div class="content">
                          <span class="year">Open source</span>
                          <h4 class="title">Le catalogue d'outils</h4>
                          <p class="description">
                            Nous fournissons des outils et services en utilisation libre pour comprendre / exploiter / visualiser les données
                          </p>
                          <div class="icon"><span></span></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  <!-- </div> -->
</div>
</main>
{{ partial "footer.html" . }}


<!--{{ if isset .Site.Params "features" }}
{{ if .Site.Params.features.enable }}

<div class="row top-xs">
  <div class="col-xs-12">
    <div class="row top-xs">

    {{ range $index, $element := sort .Site.Data.home_features "weight" }}

      <div class="col-md-6 col-xs-12">
            <div class="row middle-xs">
              <div class="col-xs-2">
                {{ if ( (isset $element "img")) }}
                  <img src="{{ $element.img | relURL }}"/>
                {{ end }}
              </div>
              <div class="col-xs-10"><h2>{{ $element.name }}</h2></div>
            </div>

            {{ if ( (isset $element "main")) }}
              <p>{{ $element.main | markdownify }}</p>
            {{ end }}

            {{ if ( (isset $element "description")) }}
            <p>{{ $element.description | markdownify }}</p>
            {{ end }}
            {{ if ( (isset $element "link")) }}
            <p><a href="./{{ $element.link }}" class="button">{{ i18n "more" }}</a></p>
            {{ end }}

      </div>

    {{ end }}
    </div>
  </div>


</div>
{{ end }}
{{ end }} -->
<!--<div class="row">
  <div class="col-xs-offset-2 col-md-8">
   {{ partial "recent_posts.html" . }}
  </div>
</div> -->
