{{ partial "header.html" . }}


<main>

  <h1 class="page-title">{{ .Title }}</h1>


  <div class="row">
    <div class="col-xs-12 col-md-12">
      {{ .Content }}
    </div>
  </div>


  <h1>{{ i18n "publist" }}</h1>
  <div class="row top-xs">
    {{ $paginator := .Paginate (where .Pages "Type" "publications") }}
    {{ template "_internal/pagination.html" . }}
    {{ range $paginator.Pages }}
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="boxlike boxlike-gray">
        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
            <p>
              {{ .Summary }}
            </p>
            <p><i class="far fa-clock"></i>
              {{ .Params.duration | markdownify }}
            </p>
            <p><a href="{{ .Permalink }}" class="button">{{ i18n "more" }}</a></p>
      </div>
    </div>
    {{ end }}
  </div>

</main>

{{ partial "footer.html" . }}

